$main-color: #1f2041
$purple-color: #bc9cff
$green-color: #6fcf97
@mixin h1
    font-family:  'Montserrat', sans-serif
    color: $main-color
    font-size: 24px
    font-weight: 700
    line-height: 29px
    letter-spacing: 0em
    text-align: left
@mixin h2
    font-family:  'Montserrat', sans-serif
    color: $main-color
    font-size: 19px
    font-weight: 700
    line-height: 23px
    letter-spacing: 0em
    text-align: left
@mixin h3
    font-family:  'Montserrat', sans-serif
    font-size: 12px
    font-weight: 700
    line-height: 15px
    color: $main-color
    text-transform: uppercase
    letter-spacing: 0em
    text-align: left
@mixin body
    font-family:  'Montserrat', sans-serif
    color: $main-color
    font-size: 14px
    font-weight: 400
    line-height: 24px
    opacity: 0.75
    letter-spacing: 0em
    text-align: left
    


    

*
    box-sizing: border-box
    margin: 0
    padding: 0
.section__colors_type
    margin: 145px 158px 145px 149px
    display: flex
    justify-content: space-between
.palette
    display: flex
    flex-direction: column
.palette_element
    display: flex
    align-items: center
    margin-top: 20px
    &:first-child
        margin-top: 0
.color
    width: 70px
    height: 70px
    border-radius: 6px
    &_purple 
        background-color: $purple-color
    &_green
        background-color: $green-color
    &_dark
        background-color: $main-color
        &_75
            opacity: 0.75
        &_50
            opacity: 0.5
        &_25
            opacity: 0.25
        &_5
            opacity: 0.05
    &_title
        +h2
    &_subtitle
        +h2
        font-weight: 400
    &_box
        display: flex
        flex-direction: column
        padding-left: 40px
.font
    display: flex
    flex-direction: column
    &_mark
        display: flex 
        margin-bottom: 50px
        text-align: left
        &:last-child
            margin-bottom: 0 
    &_h1
        +h1
    &_h2
        +h2
    &_h3
        +h3
    &_light
        margin-right: 30px   
        opacity: 0.25
        font-weight: 400
        text-align: right
.section__form
    margin: 140px 141px 131px 140px



